<h4 class="text-center" style="margin-top: 20px">View Profile</h4><br>

            <div class="container padding-row">
              <div class="row">

                <!-- Empty container column -->
                <div class="col-sm-3"></div>
                <!-- End of Empty container column -->

                <!-- Profile Picture -->
                <!--
              <div class="col-sm-2 center padding-row">
                  <img src="./assets/avatar.png" class="rounded" alt="Profile Picture" width="120" height="120"> 
              </div>
              -->

              <!-- Empty container column
              <div class="col-sm-2"></div>
               End of Empty container column -->

              <!-- Personal Information -->
              <div class="col-sm-8 padding-row">
                <table style="width:100%;">
                  <tr>
                    <td>Name:</td>
                    <td><span class="font-weight-bold">{{doctor.name}}</span></td>
                  </tr>
                  <tr>
                      <td>Age:</td>
                      <td><span class="font-weight-bold">{{doctor.age}}</span></td>
                  </tr>
                  <tr>
                      <td>Gender:</td>
                      <td><span class="font-weight-bold">{{doctor.gender}}</span></td>
                  </tr>
                  <tr>
                      <td>Cell Phone:</td>
                      <td><span class="font-weight-bold">{{doctor.cellphone}}</span></td>
                  </tr>
                  <tr>
                      <td>Email:</td>
                      <td><span class="font-weight-bold">{{doctor.email}}</span></td>
                  </tr>
                  <tr>
                      <td>City:</td>
                      <td><span class="font-weight-bold">{{doctor.city_name}}</span></td>
                  </tr>
                  <tr>
                      <td>State:</td>
                      <td><span class="font-weight-bold">{{doctor.state_name}}</span></td>
                  </tr>
                </table>
               
              </div>
            </div>
            </div>