
<div class="container">
<h4 class="text-center" style="margin-top: 20px">Patient Details</h4><br>
<table style="width:100%;">
    <tr>
        <td>MRN#: <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;{{patient.patient_id}}</span></td>
        <td>Name: <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;{{patient.name}}</span></td>
    </tr>
    <tr>
        <td>Gender: <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;{{patient.gender}}</span></td>
        <td>Age: <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;{{patient.age}}</span></td>
    </tr>
    <tr>
      <td>Cell Phone: <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;{{patient.cellphone}}</span></td>
      <td colspan="2">Email: <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;{{patient.email}}</span></td>
    </tr>
  </table>
  <br><br>
   <h4>Prescription</h4>
   <br>
   <table style="width:100%;">
    <tr>
      <td style="width: 25%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:</td>
      <td>
       <span class="font-weight-bold">{{prescriptionObject.date}}</span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment:</td>
      <td> 
        <span class="font-weight-bold">{{prescriptionObject.comment}}</span>
      </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prescription:</td>
        <td></td>
      </tr>
      <tr>
          <td></td>
          <td> 
            <img [src]="prescriptionObject.file" alt="Prescription Image"/>
          </td>
        </tr>
    
  </table>
      
    








</div>
<br><br>
<button class="btn btn-success" (click)="goToPreviousPage()">Back</button>
