<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header paddingTopSideBar text-center">
      <h3>ePrescription</h3>
  </div>

  <ul class="list-unstyled components paddingTopSideBar paddingLeftSideBar">
      <li>
          
          <a routerLink="home" class="nav-link text-light"><img src="./assets/home.png">Home</a>
      </li>
      <li>
            <a routerLink="add-prescription" class="nav-link text-light"><img src="./assets/add_prescription.png">Add Prescription</a>
          
        </li>
      <li>
          <a routerLink="view-prescription" class="nav-link text-light"><img src="./assets/view_prescription.png">View Patient Prescription</a>
      </li>
      <li>
          <a routerLink="view-profile" class="nav-link text-light"><img src="./assets/profile.png">View Profile</a>
      </li>
      <li>
       <!--   <a href="" class="nav-link text-light"><img src="./assets/logout.png">Logout</a>-->
       <a routerLink="logout" class="nav-link text-light"><img src="./assets/logout.png">Logout</a>
      </li>
  </ul>

</nav>