
  <div class="pro" >
    <img src="./../../assets/user.png">
      <form (submit)="register($event)">
      <table>
      <tr>
          <td colspan="2"><h2>Registeration Form</h2></td>
      </tr>
      <tr>
        <td>
          <input type="radio" id="r1" name="type" value="doctor" ><label>Doctor</label>
          <br>
          <input type="radio" id="r2" name="type" value="patient"><label>Patient</label>
        </td>
      </tr>
      <tr>
         <td> <label>Name</label></td>
          <td><input type="text" id="name" autofocus required> </td>
      </tr>
      <tr>
        <td> <label>Age</label></td>
         <td><input type="number" id="age" > </td>
       </tr>
      <tr>
        <td> <label>Gender</label></td>
         <td><input type="text" id="gender" > </td>
     </tr>
     <tr>
      <td> <label>Address</label></td>
     <td><input type="text" id="address" > </td>
 </tr>
 <tr>
  <td> <label>Contact</label></td>
   <td><input type="tel" id="contact" > </td>
</tr>
<tr>
  <td> <label>Email Address</label></td>
   <td><input type="email" id="email"  required> </td>
</tr>
<tr>
  <td> <label>City</label></td>
   <td><select name='city' id='city'>
    <option value="21">Abbottabad</option>
    <option value="8">Bahawalpur</option>
    <option value="15">Chaman</option>
    <option value="22">Dera Ismail Khan</option>
    <option value="7">Faisalabad</option>
    <option value="10">Gujranwal</option>
    <option value="13">Gwadar</option>
    <option value="1">Hyderabad</option>
    <option value="25">Karachi</option>
    <option value="14">Khuzdar</option>
    <option value="23">Kohat</option>
    <option value="5">Lahore</option>
    <option value="4">Larkana</option>
    <option value="19">Mardan</option>
    <option value="6">Multan</option>
    <option value="2">Nawabshah</option>
    <option value="24">Nowshera</option>
    <option value="18">Peshawar</option>
    <option value="12">Quetta</option>
    <option value="11">Rawalpindi</option>
    <option value="17">Sibi</option>
    <option value="3">Sukkur</option>
    <option value="20">Swat</option>
   </select> </td>
</tr>
      <tr>	
          <td><label>Password  </label> </td>
          <td> <input type="password" id="password"  required></td>
      </tr>
      <tr>
          <td colspan="2"><input type="submit" id="submit" value="Register"></td>
      </tr>
      
      </table>
      </form>
  </div>
